<div [class.toggled]="isToggled" id="wrapper" class="wrapper-content">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
      </li>
      <li><a [routerLink]="['/home/local']" class="bi bi-house-door-fill">Home</a></li>
      <li><a [routerLink]="['/home/course']" class="bi bi-journal-text">Course</a></li>
      <li><a [routerLink]="['/home/profile']" class="bi bi-person-circle">Profile</a></li>
      <li *ngIf="authService.hasRole('Teacher')"><a [routerLink]="['/home/manage']" class="bi bi-gear-fill">Manage</a></li>
      <li><a>Logout</a></li>
    </ul>
  </div>

  <div id="page-content-wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            class="btn-menu btn btn-success btn-toggle-menu"
            (click)="toggleSidebar()"
          >
            <i class="bi bi-layout-text-sidebar"></i>
          </button>
        </div>
      </div>
    </nav>
   </div>
</div>
