<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="project-info-box mt-0">
        <h5>{{course?.name}}</h5>
        <p class="mb-0">{{course?.description}}</p>
      </div><!-- / project-info-box -->

      <div class="project-info-box">
        <p><b>Teacher:</b> {{course?.teacher!.fullName}}</p>
        <p><b>Teacher Profession:</b> {{course?.teacher!.jobTitle}}</p>
        <p><b>University:</b> {{course?.teacher!.university}}</p>
        <p><b>Course Type:</b> {{course?.courType}}</p>
        <p><b>Course Level:</b> {{course?.courseLevel}}</p>
      </div><!-- / project-info-box -->

      <div class="project-info-box mt-0 mb-0">
        <p class="mb-0">
          <span class="fw-bold mr-10 va-middle hide-mobile">Enroll:</span>
          <button type="button"  class="btn btn-primary">PDFs</button>
          <button type="button"   class="btn btn-primary">Videos</button>
        </p>
      </div><!-- / project-info-box -->
    </div><!-- / column -->

    <div class="col-md-7">
      <img [src]="'data:image/png;base64,'+course?.image" alt="project-image" class="rounded">
      <div class="project-info-box">
        <p><b>Categories:</b> {{course?.courType}}</p>
        <p><b>Posted :</b> {{course?.createdAt}}</p>
      </div><!-- / project-info-box -->
    </div><!-- / column -->
  </div>
</div>

