<div class="body">

  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" formControlName="fullName" name="fullName" placeholder="Full Name" required="">
        <input type="email" formControlName="email" name="email" placeholder="Email" required="">
        <input type="number" formControlName="age" name="age" placeholder="age" required="">
        <select formControlName="gender" name="gender" required class="form-input">
          <option value="" disabled selected>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        <input type="password" formControlName="password" name="password" placeholder="password" required="">
        <input type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required="">
        <button [disabled]="registerForm.invalid">Sign up</button>
      </form>
    </div>

    <div class="login">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="username" formControlName="username" placeholder="Email" required="">
        <input type="password" name="password" formControlName="password" placeholder="Password" required="">
        <button >Login</button>
        <button (click)="navigateToTeacherLogin()">Teacher Login</button>
      </form>
    </div>
  </div>
</div>
